@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,400&display=swap');

/* ------------ general ---------  */

:root{
   --bg-meta: #9c2323;
   --text-color: #7e7e7e;
   --main-bg: #ededed;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
   font-family: 'Ubuntu', sans-serif;
   background: #f2f2f2 url("../i/bg.jpg") repeat-x;
   font-size: 1rem;

}

.container{
   width: 100%;
   max-width: 960px;
   min-height: 100vh;
   margin: auto;

   display: flex;
   flex-direction: column;
}

.context-box{
   flex: 1;
}

.clearfix::after{
   content: "";
   clear: both;
   display: table;
}

input{
   background: transparent;
   border: 0;
}

input:focus{
   outline: none;
}

.fluid-box__img{
   width: 100%;
   max-width: 100%;

}
/* ------------ header ---------  */

.haeder-box__title{
   background: url("../i/sprite.png") no-repeat 0 -388px; 
   width: 161px;
   height: 63px;
   text-indent: -9999px;
   margin: 0;
   margin-left: 30px;
   float: left;
}


/* ------------ nav ---------  */

.nav{
   float: left;
}

.nav-box{
   margin: 0;
   padding: 0;
   list-style: none;
   margin-left: 100px;
   padding-top: 16px;

   display: flex;

}

.nav-box__item{
   margin-right: 65px;
   position: relative;
   cursor: pointer;
}

.nav-box__item:last-of-type{
   margin-right: 0;
}

.nav-box__item::before{
   content: "";
   display: block;
   background-image: url("../i/sprite.png");
   background-repeat: no-repeat;
   position: absolute;
   width: 35px;

}

.nav-box__item_home::before{
   width: 30px;
   height: 34px;
   right: 87px;

}
.nav-box__item_home:hover::before{
   background-position: 0 -105px;

}

.nav-box__item_photo::before{
   width: 35px;
   height: 35px;
   background-position: 0 -35px;
   right: 62px;

}

.nav-box__item_photo:hover::before{
   background-position: 0 -140px;
}

.nav-box__item_contact::before{
   width: 30px;
   height: 34px;
   background-position: 0 -71px;
   right: 105px ;
   top: 5px;

}
.nav-box__item_contact:hover::before{
   background-position: 0 -176 px;
}

.nav-box__link{
   color: #cbcbcb;
   text-transform: uppercase;
   text-decoration: none;
   font-size: 1.125rem;
}

.nav-box__item:hover .nav-box__link{
   color: #6f6f6f;
}
/* ------------ form ---------  */

.form-box{
   float: right;
   padding-top: 8px;
   position: relative;
}

.forn-box__button{
   display: block;
   position: absolute;
   width: 41px;
   height: 41px;
   background: url("../i/sprite.png") no-repeat 0 -347px;
   left: -50px;
   top: 15px;
   border: 0;

   cursor: pointer;

}


.forn-box__control{
   width: 220px;
   padding: 4px;
   border: 1px solid #cbcbcb;
   background: #696969;
   color: #fff;
}

.forn-box__control:focus{
   border: 1px solid #696969;
   background: #cbcbcb;
   color: #000;
}



/* ------------ slogan ---------  */
.slogan{
   font-size: 2.25rem;
   font-weight: 500;
   text-align: right;

   color: #a9a9a9;

   margin: 0;
   padding-right: 20px;
   padding-bottom: 40px;

   text-shadow: 1px 1px #fff, -1px 1px #fff, 1px -1px #fff;
   position: relative;
}

.slogan::before{
   content: "";
   display: block;
   position: absolute;

   width: 3px;
   height: 80px;

   background: #fff;

   right: 0;
   top: -8px;
}


/* ------------ layout ---------  */
.context-box{
   display: flex;
   justify-content: space-between;
}

.col_left{
   flex: 0 0 630px;
}
.col_rigth{
   flex: 0 0 300px;
}


/* ------------ post ---------  */

.post{
   background: var(--main-bg);
   border: 2px solid #fff;

   margin-bottom: 30px;

   display: flex;

   padding: 25px 25px 25px 0;

   position: relative;
}

.post__left{
   flex-basis: 250px;
   padding:  0 30px;
   order: -1;
}

.post__rigth{
   flex-basis: 350px;
   
}

.post__number{
   display: block;
   position: absolute;

   top: 5px;
   right: 5px; 

   width: 43px;
   height: 38px;

   background: url("../i/sprite.png") no-repeat 0 -208px;

   font-size: 22px;
   font-weight: 500;
   text-align: center;
   line-height: 32px;
}

.post__title{
   margin: 0;
   margin-bottom: 8px;

   position: relative;
   top: -3px;
}

.post__meta{
   background: var(--bg-meta);
   margin: 0;

   display: inline-block;
   color: #fff;
   padding: 5px;
   padding-right: 16px;
}

.post__content{
   color: var(--text-color);
   font-style: italic;
   margin-bottom: 12px;
}

.post__link{
   color: #000;
   text-decoration: none;

}

.post__link:hover{
   text-decoration: underline;

}


.post__img{
   width: 100%;
   max-width: 100%;
   height: auto;
   border-radius: 6px;
}

/* ------------ rigth box ---------  */

.rigth-box{
   background: var(--main-bg);
   border: 2px solid #fff;

   margin-bottom: 30px;
   padding: 10px;
}

.rigth-box__title{
   margin: 0;
   color: #fff;
   background-color: var(--bg-meta);

   font-size: 1rem;

   padding: 5px;
   padding-left: 20px;
   margin-bottom: 7px;
}

.slick_wrap{
   overflow: hidden;
   max-width: 100%;
   width: 278px;
}

.rigth-box__nav{
   display: flex;
   align-items: center;
   padding-top: 1rem;
}


.rigth-box__link{
   display: inline-block;
   position: relative;
   color: #000;
   text-decoration: none;
   padding-left: 30px;
}

.rigth-box__link::before{
   content: "";
   display: block;
   width: 20px;
   height: 21px;
   background: url("../i/sprite.png") no-repeat 0 -279px;
   position: absolute;
   top: 0;
   left: 0;
}


.box-arrow{
   margin-left: auto;
}

.box-arrow__item{
   display: inline-block;
   width: 26px;
   height: 18px;
   background: url("../i/sprite.png") no-repeat;
   text-indent: -9999px;
   cursor: pointer;
}

.box-arrow__item_left{
   background-position: 0px -253px;
   margin-right: 1rem;
}
.box-arrow__item_rigth{
   background-position: -27px -253px;
   

}

/* ------------ rigth box 2 ---------  */

.rigth-box_second{
   position: relative;

}

.rigth-box_second::after{
   content: "";
   display: block;
   position: absolute;

   background: url("../i/sprite.png") no-repeat 0 -309px;

   width: 38px;
   height: 38px;

   right: 10px;
   bottom: 10px;

}

.right-box__list{
   padding: 25px 0 40px 0;
   list-style: none;
}

.rigth-box__some{
   padding-left: 25px;
   padding-bottom: 15px;
   position: relative;
   max-width: 260px;
}

.rigth-box__some:last-of-type{
   padding-bottom: 0;

}


.rigth-box__some::before{
   content: "";
   display: block;
   position: absolute;
   background: url("../i/sprite.png") no-repeat 0 -482px;

   width: 13px;
   height: 13px;

   left: 0;
   top: 3px;

}





/* ------------ footer ---------  */

.footer-box {
  padding: 1rem;
  background: var(--main-bg);
  border-top: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;

}

.social{
   margin: 0;
   padding: 0;
   list-style: none;
   display: flex;

}

.social__item{
   margin-right: 1rem;
}
.social__item:last-of-type{
  margin-right: 0;
}

.social__link {
   display: block;
   width: 32px;
   height: 32px;
   background: url("../i/social.jpg") no-repeat;
   text-indent: 9999px;
}

.social__link_g:hover{
   background-position: 0 -32px;
}
.social__link_fb{
   background-position: -32px 0px;
}
.social__link_fb:hover{
   background-position: -32px -32px;
}

.social__link_tw{
   background-position: -64px 0;
}

.social__link_tw:hover{
   background-position: -64px -32px;
}